<section>
 <div class="container px-5 mt-3 " >
  <div class="container rounded " style="background-color: rgb(50, 201, 88);width: 70%;">
   <div class="row">
    <div class="col-md-6 mx-auto p-2 ">
      <form action="/turfmanager/search-turf" method="GET">
    <label for="" class="form-label">Enter your current place</label>
    <input type="text" class="form-control" name="place" placeholder="place">
    <button type="submit" class="btn btn-success mt-4">Submit</button>
</form>
    </div>
  </div>
  </div>
 </div>
</section>