<header class="px-2">
  <nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid  rounded" style="background-color: rgb(0, 84, 209);">
      <a class="navbar-brand fs-2 fw-bolder" href="#">POOL MANAGER</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fw-bolder px-3 btn-hover" aria-current="page" href="/poolmanager">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bolder px-3 btn-hover" aria-disabled="true" href="/poolmanager/poolmanager-profile">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bolder px-3 btn-hover" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" data-bs-toggle="dropdown">
              Pool
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/poolmanager/add-pool">Add Pool</a></li>
              <li><a class="dropdown-item" href="/poolmanager/pool-slot">Add slot</a></li>
              <li><a class="dropdown-item" href="/poolmanager/pool-offer">Add offer</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bolder px-3 btn-hover" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" data-bs-toggle="dropdown">
              Manage
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/poolmanager/edit-pool">Manage Pool</a></li>
              <li><a class="dropdown-item" href="/poolmanager/view-pool-slot">Manage slot</a></li>
              <li><a class="dropdown-item" href="/poolmanager/edit-pool-offer">Manage offer</a></li>
              <li><a class="dropdown-item" href="/poolmanager/pool-view-booking">Manage Booking</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bolder px-3 btn-hover" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" data-bs-toggle="dropdown">
              View
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/poolmanager/view-pool-booking">Booking</a></li>
              <li><a class="dropdown-item" href="/poolmanager/view-pool-feedback">Feedback</a></li>
              <li><a class="dropdown-item" href="/poolmanager/view-pool-payment">Payment</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bolder px-3 btn-hover" aria-current="page" href="/poolmanager/bookings">Book request</a>
          </li>
           <li class="nav-item px-3">
            {{#if poolmanager}}
            <a class="dropdown-item" href="/logout"><button class="btn btn-danger">Logout</button></a>
            {{else}}
            <a class="dropdown-item" href="/login"><button class="btn btn-success">Login</button></a>
            {{/if}}
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>