<section>
  <div class="container px-5 mt-4">
    <div class="container rounded p-4" style="background-color: rgb(0, 84, 209); width: 70%; margin-top: 130px;">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h2 class="text-center text-white">Edit Offer</h2>
          <form id="offerForm" action="/poolmanager/edit-pool-offer/{{poolOffer._id}}" method="post" onsubmit="return validateForm()">
            
            <label class="form-label text-white">Date</label>
            <input type="text" class="form-control" id="date" name="date" value="{{poolOffer.date}}">
            <div class="text-danger" id="dateError"></div>

            <label class="form-label text-white">Turf Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{poolOffer.name}}">
            <div class="text-danger" id="nameError"></div>

            <label class="form-label text-white">Amount</label>
            <input type="text" class="form-control" id="amount" name="amount" value="{{poolOffer.amount}}">
            <div class="text-danger" id="amountError"></div>

            <button type="submit" class="btn btn-success mt-4">Submit</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
function validateForm() {
    let isValid = true;
    let fields = ["date", "name", "amount"];

    fields.forEach(field => {
        let input = document.getElementById(field);
        let errorDiv = document.getElementById(field + "Error");

        if (!input.value.trim()) {
            errorDiv.innerText = field.charAt(0).toUpperCase() + field.slice(1) + " is required.";
            isValid = false;
        } else {
            errorDiv.innerText = "";
        }
    });

    return isValid;
}
</script>
