
<section>
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Auditorium Details</div>
    <div class="card-body">
      <h5 class="card-title">{{hall.name}}</h5>
      <p class="card-text">Place : {{hall.place}}</p>
      <p class="card-text">District : {{hall.district}}</p>
      <p class="card-text">Phone : {{hall.phone}}</p>
    </div>
</section>