
<section>
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Pool Details</div>
    <div class="card-body">
      <h5 class="card-title">{{pool.name}}</h5>
      <p class="card-text">Place : {{pool.place}}</p>
      <p class="card-text">District : {{pool.district}}</p>
      <p class="card-text">Phone : {{pool.phone}}</p>
    </div>
</section>