
<section>
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Turf Details</div>
    <div class="card-body">
      <h5 class="card-title">{{turf.name}}</h5>
      <p class="card-text">Place : {{turf.place}}</p>
      <p class="card-text">District : {{turf.district}}</p>
      <p class="card-text">Phone : {{turf.phone}}</p>
    </div>
</section>