
<section>
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">EV Station Details</div>
    <div class="card-body">
      <h5 class="card-title">{{ev.name}}</h5>
      <p class="card-text">Place : {{ev.place}}</p>
      <p class="card-text">District : {{ev.district}}</p>
      <p class="card-text">Phone : {{ev.phone}}</p>
    </div>
</section>