<section>
    <div class="card text-center container " style="margin-top: 150px; background-color: rgb(131, 213, 209);">
        {{#each poolOffer}}
  <div class="card-header fs-3 fw-bolder">
    OFFER
  </div>
  <div class="card-body">
    <h5 class="card-title fw-bolder">{{this.turf}}</h5>
    <p class="card-text fw-bold ">Amount:{{this.amount}}</p>
  </div>
  <div class="card-footer text-body-secondary fs-4 fw-bolder">
    {{this.date}}
  </div>
  {{/each}}
</div>
</section>